@use '../../styles/tokens' as *;

.clue-header {
  width: 100%;
  box-sizing: border-box;
  padding: $spacing-16 0;
  border-top: $border-2 solid $color-neutral-100;
  border-bottom: $border-2 solid $color-neutral-100;
  text-align: center;
}

.clue-header__text {
  margin: 0;
  font-family: $font-clue;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.48px;
  color: $color-neutral-100;

  strong {
    font-weight: 800;
  }
}

@include mobile {
  .clue-header {
    width: 100%;
    flex-shrink: 0;
  }

  .clue-header__text {
    font-size: var(--clue-font-size);
  }
}
