@use './styles/tokens' as *;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $content-width;
  max-width: 100%;
  margin: 0 auto;
  gap: $spacing-20;
  padding-block: $spacing-32;
}

.app__content {
  display: contents;
}

.puzzle {
  width: 100%;
}
